@font-face {
  font-family: 'alright_sansbold';
  src: url('fonts/alrightsans-bold-webfont.eot');
  src: url('fonts/alrightsans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/alrightsans-bold-webfont.woff') format('woff'), url('fonts/alrightsans-bold-webfont.ttf') format('truetype'), url('fonts/alrightsans-bold-webfont.svg#alright_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alright_sanslight';
  src: url('fonts/alrightsans-light-webfont.eot');
  src: url('fonts/alrightsans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/alrightsans-light-webfont.woff') format('woff'), url('fonts/alrightsans-light-webfont.ttf') format('truetype'), url('fonts/alrightsans-light-webfont.svg#alright_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alright_sansregular';
  src: url('fonts/alrightsans-regular-webfont.eot');
  src: url('fonts/alrightsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/alrightsans-regular-webfont.woff') format('woff'), url('fonts/alrightsans-regular-webfont.ttf') format('truetype'), url('fonts/alrightsans-regular-webfont.svg#alright_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 24px;
  background: url('/img/bg-pattern.gif') top left;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
img {
  border: 0;
}
.container {
  width: 960px;
  margin: auto;
}
.container .content-left {
  width: 75px;
  height: 1505px;
  background: url('/img/bg-left.jpg') no-repeat;
  float: left;
}
.container .content-middle {
  width: 810px;
  float: left;
}
.container .content-middle #logo {
  top: 0;
  position: absolute;
  width: 810px;
  height: 140px;
  text-align: center;
}
.container .content-middle .home {
  background: url('/img/bg-landing-middle.jpg') no-repeat;
  height: 1057px;
  padding: 392px 0 0 125px;
}
.container .content-middle .home .form {
  width: 571px;
  height: 535px;
}
.container .content-middle .home .form .intro {
  position: relative;
  display: block;
  width: 320px;
  top: 30px;
  left: 25px;
  font-family: 'alright_sansregular';
  color: #000000;
  font-size: 18px;
}
.container .content-middle .home .form .intro h1 {
  font-size: 24px;
}
.container .content-middle .home .form .intro span {
  color: #d81e05;
}
.container .content-middle .home .form .formfields {
  position: relative;
  top: 45px;
  left: 25px;
  font-size: 16px;
  line-height: 38px;
  font-family: 'alright_sanslight';
  color: #787878;
  width: 520px;
}
.container .content-middle .home .form .formfields .field {
  height: 45px;
}
.container .content-middle .home .form .formfields .field .left {
  width: 210px;
  float: left;
}
.container .content-middle .home .form .formfields .field .right {
  width: 300px;
  float: right;
}
.container .content-middle .home .form .formfields .field .right .checkbox {
  width: 30px;
  float: left;
}
.container .content-middle .home .form .formfields .field .right .label {
  width: 250px;
  float: right;
}
.container .content-middle .home .form .formfields .field .lower {
  font-size: 11px;
  line-height: 12px;
}
.container .content-middle .home .form .formfields .field input {
  border: 0px;
  text-indent: 5px;
  font-size: 12px;
  line-height: 36px;
  font-family: 'alright_sansregular';
  padding: 0;
  margin: 0;
}
.container .content-middle .home .form .formfields .field .input-small {
  background: url('/img/input-small.gif') no-repeat;
  width: 106px;
  height: 38px;
}
.container .content-middle .home .form .formfields .field .input-medium {
  background: url('/img/input-medium.gif') no-repeat;
  width: 156px;
  height: 38px;
}
.container .content-middle .home .form .formfields .field .input-large {
  background: url('/img/input-large.gif') no-repeat;
  width: 271px;
  height: 38px;
}
.container .content-middle .home .form .formfields .field .first {
  margin-right: 5px;
}
.container .content-middle .home .form .formfields .field .btn-verstuur {
  height: 38px;
  width: 271px;
  border: 0;
  background: url("/img/btn-verstuur.gif");
}
.container .content-middle .home .form .formfields .field .btn-verstuur:hover {
  cursor: pointer;
}
.container .content-middle .home .form .formfields .adres,
.container .content-middle .home .form .formfields .plaats {
  display: none;
}
.container .content-middle .bedankt {
  background: url('/img/bg-bedankt-middle.jpg') no-repeat;
  height: 1032px;
  padding: 417px 0 0 155px;
}
.container .content-middle .bedankt .content {
  width: 500px;
  height: 535px;
  text-align: center;
  font-size: 20px;
  font-family: 'alright_sansregular';
  color: #000000;
}
.container .content-middle .bedankt #share-btn a {
  width: 261px;
  height: 38px;
  display: block;
  background: url(/img/btn-delen.gif) center center no-repeat;
  text-indent: -99999em;
  margin: auto;
  padding: 50px;
}
.container .content-middle .bedankt .facebook {
  margin: auto;
}
.container .content-middle .inner-left {
  float: left;
  width: 100px;
  text-align: right;
}
.container .content-middle .inner-right {
  float: right;
  width: 150px;
}
.container .content-middle .inner-right .title {
  height: 20px;
  line-height: 20px;
  color: #365899;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.container .content-right {
  width: 75px;
  background: url('/img/bg-right.jpg') no-repeat;
  float: left;
  height: 1505px;
}
.footer {
  font-size: 13px;
  height: 56px;
  background: #d81e05;
  color: #ffffff;
  font-family: 'alright_sansregular';
}
.footer a {
  color: #ffffff;
}
.footer .left {
  float: left;
  width: 200px;
  line-height: 56px;
  margin-left: 135px;
}
.footer .right {
  float: right;
  width: 200px;
  line-height: 56px;
  margin-right: 135px;
  text-align: right;
}
#actievoorwaarden {
  font-family: 'alright_sansregular';
  font-size: 12px;
}
#actievoorwaarden h1 {
  font-size: 14px;
}
#actievoorwaarden li {
  line-height: 20px;
}
.oldie .facebook {
  padding: 0 100px 0 0;
}
